<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <script src="https://kit.fontawesome.com/b2517c3666.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <img class="header__logo" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Libre">
      <div class="header__buscadorYlupa">
        <nav class="header__buscador"><input type="text" placeholder="Buscar productos, marcas" ></nav>
        <section class="header__lupa"><button class="lupa-button"><i class="fa fa-search"></i></button></section>
      </div>
      <i id="manoDolar" class="fa-solid fa-hand-holding-dollar"></i>
      <p class="header__compraCuotas">Comprá en cuotas y sin tarjeta de crédito</p>
      <nav class="header__secciones">
        <ul>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="">Creá tu cuenta</a> <i class="fa-regular fa-address-card"></i></li>
          <li><a href="">Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
          <li><a href="">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
        </div> 
    </header>
    <main>
      <section>
        <h3>Basado en la ultima visita</h3>
        <article>
          
          <img class="imagenes" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$6.770</p>
            <p class="main__section__arcticle--descuento">40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p>
          </div>
        </article>
        <article>
          <img class="imagenes" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>
          </div>
        </article>
        <article>
          <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$70.500</p>
            <p>10% of</p>
            <p><strong>Samsung Galaxy S10</strong></p>
          </div>
        </article>
        <article>
          <img class="imagenes" src="/images/img-tv-samsung-smart.jpg" alt="Smart tv Samsung">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$23.200</p>
            <p>5% of</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
          </div>
          </article>
      </section>
      <section>
      <h3>Sección de Ofertas</h3>
        <article>
          <img class="imagenes" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$6.770</p>
            <p>40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p>
          </div>
        </article>
        <article>
          <img class="imagenes" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>
          </div>          
        </article>
        <article>
          <img class="imagenes" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$70.500</p>
            <p>10% of</p>
            <p><strong>Samsung Galaxy S10</strong></p>
          </div>
        </article>
        <article>
          <img class="imagenes" src="/images/img-tv-samsung-smart.jpg" alt="Smart tv Samsung">
          <div class="main__section__arcticle--informacion">
            <i class="fa-solid fa-truck" id="camion"></i>
            <p>$23.200</p>
            <p>5% of</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
          </div>
          
        </article>
      </section>
    </main>
    <footer>
      <section> 
        <i id="tarjeta" class="fa-solid fa-credit-card" style="color: #005eff;"></i>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
      </section>
      <section>
        <i id="regalo" class="fa-solid fa-gift" style="color: #005eff;"></i>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
      </section>
      <section>
        <i id="regalo"   class="fa-solid fa-user-shield" style="color: #005eff;"></i>
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
      </section>
      <section> 
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </section>
    </footer>
  </body>
</html>
