@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box ;
}

a {
    outline: none;
    text-decoration: none;
    
  }

  a:visited {
    color: none;
  }

/* MOBILE */
html{
    width: 100%;
}

header{
    
    background-color: #EAC926;
    font-family: 'Roboto';
    font-size: 12px;
    padding: 5px;
    
}

.logoYlupa{
    display: flex;
    
}

.header__logo{
    display: flex;
    flex-grow: 0.5;
    width: 150px;
    padding: 10px;
    
}

.header__buscadorYlupa{
    display: flex;
    flex-grow: 0.5;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    

}
.header__buscador input{
    margin-left: 15px;
    width: 120px;
}

#lupa{
    margin-left: 1px;
  
}

.header__lupa{
    margin-left: 3px;  
}

#manoDolar{
    margin-left: 45px;
    margin-top: 15px
}

.header__compraCuotas{
    text-align: center;
    margin: auto;
    display: inline-block;
}

.header__secciones{
    display:none;
}

ul{
    padding-inline-start: 0px;
}

li{
    list-style: none;
}

.burger-menu{
    border-radius: 3px;
    background-color: #2325cf;
    text-align: center;
    width: 40px;
    height: 30px;
    margin: 20px auto;

}

.burger-menu i{
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

body{
    background-color: rgb(207, 207, 207);
    
}

main{
    width: 90%;
    margin: 0 auto;
}

/* section{
    display: flex;
    flex-wrap: wrap;
} */

.main__section__tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

article{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap */
    align-content: center;
    width: 250px;
}

h3{
    font-size: 25px;
    text-align: center;
    margin: 20px 0px;
}

.imagenes{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.main__section__arcticle--informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1px;
    border: 1px solid #ebebeb;
    padding: 15px;
    background-color: white;
    position: relative;
}

.main__section__arcticle_precioYdescuento{
    display: flex;
}
.main__section__arcticle--precio{
    display: flex;
    flex-grow: 0.30;
}

.main__section__arcticle--descuento{
    display: flex;
    flex-grow: 0.70;
    color: green;
}

.main__section__arcticle--articulo{
    color: grey;
    display: flex;
    margin-top: 20px;
}

#camion{
    color: #39b54a;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}


footer{
    text-align: center;
    font-family: 'Roboto';
}

#tarjeta{
    font-size: 2em;
    margin-bottom: 10px;
}

#regalo{
    font-size: 2em;
    margin-bottom: 10px;
}

#seguridad{
    font-size: 2em;
    margin-bottom: 10px;
}

/* Register */

.register__main{
    display: flex;
    justify-content: center;
}

.register__main_formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border: black 1px solid;
    background-color: rgb(228, 228, 228);
    width: 300px;
    padding: 0px 10px;
    margin: 5px 0px;
}

.register__main__formulario__rectangulos input{
    display: flex;
    margin: 20px 0px;
    width: 220px;
    height: 25px;
    
}

.register__main_formulario h3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.register__main__formulario__perfilUsuario{
    margin: 10px 0px;
}

.register__main__formulario__perfilUsuario input{
    margin: 10px 5px;
}

.register__main__formulario__intereses{
    margin: 10px 0px;
}

.register__main__formulario__intereses input{
    margin: 10px 5px;
}

.register__main__formulario__fotoPerfil{
    margin: 10px 0px;
}

.register__main__formulario__fotoPerfil input{
    margin: 10px 5px;
}

.register__main__formulario__botones{
    margin: 10px 0px;
}

.register__main__formulario__botones button{
    width: 120px;
    height: 60px;
    font-size: 18px;
    background-color:#2325cf;
    color: white;
}

/* Login */

.login__main{
    display: flex;
    justify-content: center;
}

.login__main__formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: black 1px solid;
    background-color: rgb(228, 228, 228);
    width: 300px;
    padding: 20px 10px;
    margin: 5px 0px;
}

.login__main__formulario input{
    display: flex;
    margin: 10px 0px;
    width: 220px;
    height: 25px;
}

.login__main__formulario button{
    margin-top: 10px;
    width: 220px;
    height: 25px;
    background-color:#2325cf;
    color: white;
}

/* TABLET */
@media (min-width: 361px){
    .header_logo-buscador-compra{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header__logo{
        width: 200px;
        padding: 20px;
        flex-grow: 1;
    }

    .header__buscadorYlupa{
        display: flex;
        flex-grow: 1;
        
    
    }

    .header__buscador input{
        
        width: 160px;
    }

    .header__compraCuotas{
        margin: 0px;
        padding: 0px;
    }
    .header__secciones{
        display: flex;
    }

    .header__secciones__panel{
        display: flex;
        justify-content: flex-start;
    }

    .header__secciones__ingreso{
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .header__secciones li{
        display: inline;
        margin: 0px 8px;
    }

    .burger-menu{
        display: none;
    }

    article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

/* DESKTOP */
@media (min-width: 769px){
    .header__logo{
        width: 300px;
        padding: 20px;
        flex-grow: 1;
    }

    .header__buscadorYlupa{
        display: flex;
        flex-grow: 1;
        
    
    }

    .header__buscador input{
        
        width: 450px;
    }
}

